#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config NRF_LWM2M_VZW
	bool "Nordic LwM2M library support"
	select NRF_LWM2M
	help
	  "Enable Verizon LwM2M library"

if NRF_LWM2M_VZW

config NRF_LWM2M_VZW_STANDALONE_LIBRARY
	bool "Compile VZW LWM2M as a standalone library"

config NRF_LWM2M_VZW_INCLUDE_DEBUG_INFORMATION
	bool "Include debug information in the output library"
	depends on NRF_LWM2M_VZW_STANDALONE_LIBRARY

config NRF_LWM2M_VZW_SEC_TAG
	int "TLS security tag for Firmware downloads"
	default 11
	help
	  TLS security tag associated with Verizon certificates.
	  Set to -1 to disable TLS.

endif # NRF_LWM2M_VZW